{% load static %}
<!DOCTYPE html>
<html lang="en">

<Head>
    <title>Book Reviews</title>
    <link rel="stylesheet" href="{% static "book-review.css" %}">
</Head>

<body>
    <header>
        <div>My Book Reviews</div>
        <nav>
            <a href="create.html">Create A Review</a>
        </nav>
        </header>
        <main>
            {% for review in reviews %}
            <div class="main-page-book-review">
                <img class="main-page-book-review">
                <h2 class="book-title">
                  <a href="{% url "reviews_detail" review.id %}">{{ review.title }}</a>
                  </h2>
                  <div class="book-rating">{{ review.rating }} stars</div>
                  <div class="book-authors">
                    {{ review.authors }}
                  </div>
                  <h3>Summary</h3>
                  <p>
                    {{ review.summary }}
                  </p>
                </div>
              {% endfor %}
            
        </main>
        <footer>
            <div>Copyright 2022 by Spencer Rhyne

            </div>
            <p>
                This is my site that contains all of my book reviews that you can read to see if you'd like that book.
            </p>
        </footer>
</body>

</html>